<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해리의 뜨거운 집착</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<!--do not forget to change display to none when you test, this is temporal display-->

<div id="intro" class="intro-container" style="display: flex">
    <h1>향수 마스터, 포터 선생</h1>
    <h2 style="font-weight: bold; font-style: italic;">" 향수 추천 ㄱ? "</h2>
    <img src="./images/harry.jpg" class="fixed-size-image" alt="Portrait of Harry">
    <label for="date" style="display: flex;">생년월일:</label>
    <input id="date" type="date" style="display: flex;">
    <label for="gender" style="display: flex;">성별:</label>
    <div class="select-container" >
        <select id="gender" style="display: flex;">
            <option value="">성별을 골라주세요</option>
            <option value="00">남자</option>
            <option value="01">여자</option>
        </select>
        <label for="nameInput">이름:</label>
        <input type="text" id="nameInput" class="text-input">
        <input type="file" id="imageInput" class="padded-input" accept="image/*">
        <button onclick="imageUpload()" class="button-59 button-adjust">다음 단계로</button>
    </div>

</div>
<div id="loading screen" style="display: none;">

</div>
<div class="report-base">
    <!--do not forget to change display to none when you test, this is temporal display-->
    <div id="report" class="chat-container" style="display: none;">
        <div class="message-area" id="messageArea">
            <!-- Messages will be displayed here -->
            <div style="font-size: 20px; font-weight: bold">
                PIXENT PROJECT
            </div>
            <div style="display: flex; justify-content: center" id="targetName">
                <h1><span id="userName"></span>님</h1>
            </div>
            <div style="margin-bottom: 20px; font-size: 22px; padding-bottom: 20px" id="targetInsight">
                이미지 분석 결과
            </div>
            <div id="targetNote">
                <div style="margin-bottom: 20px; font-size: 20px">
                    <div style="padding-bottom: 30px; font-size: 22px">향료 분석 결과</div>
                    <div style="padding-bottom: 30px" id="targetTopNote">
                        TOP NOTE
                    </div>
                    <div style="padding-bottom: 30px" id="targetMiddleNote">
                        MIDDLE NOTE
                    </div>
                    <div style="padding-bottom: 30px" id="targetBaseNote">
                        BASE NOTE
                    </div>
                </div>
                <div style="font-size: 22px">
                    센트퍼퓸 명
                </div>
            </div>
            <div id="targetNameRecommend" style="font-size: 22px"></div>
        </div>
        <div id="loader" class="loader" style="display: none;">
            <i class="fa-solid fa-gear fa-spin"></i>
        </div>
        <button id="backButton" onclick="backToMain()" class="button-59 button-adjust">메인으로 돌아가기</button>
        <div class="input-area">
            <input type="text" class="chat-input" id="chatInput" style="display: none;" placeholder="Type a message...">
            <!--        <button class="button-54" onclick="sendMessage()">Send</button>-->
        </div>
    </div>
</div>


<script src="./js/script.js"></script>
</body>
</html>
