<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" href="./css/style.css">-->
    <link rel="stylesheet" href="./css/reportStyle.css">

    <title><%= title %></title>
</head>
<body>

<div class="report-background">
    <div class="report-main">
        <div>
            <h1>Welcome to the <%= title %>!</h1>
            <p>This page is rendered using EJS and is dynamic.</p>
        </div>
    </div>
</div>

</body>
</html>
